*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka';
    
}

html,body{
    width: 100%;
    margin: 0;
    overflow: hidden;
    z-index: 9999;
}



#cursor {
    opacity: 0;
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    transition: all cubic-bezier(0.19, 1, 0, 0) 1s;
}






#video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: fixed;
}





.bounding {
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem {
    transform: translateY(100%);
}




#main{
    width: 100%;
    background-color: black;
    color:#fff;
}
#navbar{
    /* background-color: black; */
    opacity: 0.9;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#navbar img{
    width: 20px;
}

.Bharat{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 5px;
}

#navbar a{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}

#home{
    /* background-image: url(images/image99.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
    width: 100%;
    height: 100vh;
    background-color: black;
    position: relative;
    z-index: 999;
}

#heading{
    margin-top: 30px;
}

#heading h1{
    
    margin-left: 40px;
    width: fit-content;
    font-size: 10vw;
    text-transform: uppercase;
    font-weight: 800;
    /* opacity: 0.75; */
}

#heading h1:hover{
    /* background-color: #888; */
    color: rgb(61, 159, 219);
    font-size: 10vw;
    text-shadow: 5px 5px #fff;

}

#heading #second{
    margin-left: 200px;
}

.blocktext{
    display: flex;
    flex-direction: column;
    align-items: end;
    width: fit-content;
}

.blocktext h5{
    text-align: right;
    text-transform: uppercase;
    font-size: 1.25vw;
    margin-top: .5vw;
}

#footer{
    width: 100%;
    position: absolute;
    padding: 0 2vw;
    bottom: 2%;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1px;
}

#footer a{
    
    /* background-color: black; */
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2vw;
}

#footer a:hover{
    /* background-color: #888; */
    color: rgb(61, 159, 219);
    /* text-shadow: 2px 2px #fff; */
    font-size: 1.2vw;
    text-decoration: underline;
    
}

/* #down .iconset{
    display: flex;
    gap: 5px;
} */

#down{
    align-items: end;
    position: absolute;
    padding-right: 50px;
    right: 0;
    bottom: 20%;
    font-size: 3vw;
    font-weight: 100;
    opacity: 0.4;
}


/* Second Page layout starts from here */

#menue{
    padding-right: 10vw;
    padding-top: 200px;
    width: 100%;
    height: 100vh;
    background-color: black;
}


.elem{
    width: 95%;
    border-top: 1px solid #fff;
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;

}
.elem a{
    color: #fff;
    text-decoration: none;
    padding-left: 10px;

}
.elem h1{
    text-transform: uppercase;
    font-size: 8vw;
    padding-left: 0px;
}

#elem2{
    border-bottom: 1px solid #fff;
}
.elem img{
    position: absolute;
    width: 300px;
    z-index: 99999;
    opacity: 0;

}

#section-about{
    /* padding-left: 1.5rem; */
    margin-top: 20vw;
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.skillset{
    opacity: 0.2;
    text-transform: capitalize;
    font-size: 8vw;
    padding: 3.5vw 3vw;
    padding-left: 10px;
}


#section-about{
    flex-direction: row;
    /* padding-left: 13rem; */
}


.skills-charts{
    margin-right: 20%;
}

#aboutme{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
    padding: 10vw 5vw;
    background-color: black;
    color: #fff;
    padding-left: 30vw;

}

#image-about img{
    width: 20vw;
    border-radius: 50%;
    
}

#header h2{
    font-size: 3vw;
}

#header h2:hover{
    font-size: 3vw;
    color: rgb(61, 159, 219);
    text-shadow: 2px 2px #fff;

}

#text-about a{
    text-decoration: none;
    color: rgb(61, 159, 219);
    font-size: 1.5vw;
}
#text-about p{
    font-size: 1.5vw;
}

#text-about #tech{
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 12px 22px;
    font-size: 1.5vw;
}

#tech:hover{
    background-color: rgb(61, 159, 219);;
    color: black;
}


#subscribe{
    color: #fff;
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 10vw;
}

#subscribe h5{
    opacity: 0.4;
    text-transform: uppercase;
}

#subscribe h3{
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 10px;
    
}

#subscribe a{
    text-decoration: none;
    color: #fff;

}

#Bottomfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    padding: 40px 30px;
    background-color: black;
    color: #fff;
}


#Bottomfooter a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    
}
#Bottomfooterright{
    display: flex;
    gap: 50px;
}

#Bottomfooterleft{
    display: flex;
    gap: 50px;
}


