*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Akaya Kanadaka';
}

body,html{
    width: 100%;
    height: 100vh;
    overflow: hidden;

}


#main{
    width: 100%;
    height: 100vh;
    background-color: black;
    
}

#navbar{
    background-color: black;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navbar a{
    font-size: 22px;
    text-decoration: none;
    color: #fff;
}


#circle{
    position: absolute;
    left: -100vh;
    transform: translate(0%, -50%) rotate(50deg); 
    top:50%;
    border-radius: 50%;
    width: 200vh;
    height: 200vh; 
    border: 1px solid #202020;
}

.stripe{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 50%;
    left: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(0%, -50%); 
    transform-origin: 0% 50%;
}



.str1{
    transform: translate(0, -50%) rotate(-20deg);
}

.str2{
    transform: translate(0, -50%) rotate(-10deg);
}

.str3{
    transform: translate(0, -50%) rotate(0deg);
}

.str4{
    transform: translate(0, -50%) rotate(10deg);
}

.str5{
    transform: translate(0, -50%) rotate(20deg);
}

.first{
    width: 50%;
    height: 100%;
    position: relative;

}


.second{
    padding-left: 20px;
    width: 50%;
    height: 100%;
    
}

.second img{
    width:100px;
    top: 50%;
    border-radius: 8%;
    position: absolute;
    left: 40vw; 
    transform: translate(0, -50%);
}

.second h4{
    font-size: 2vw;
    color: blueviolet;
}
.second a{
    text-decoration: none;
}

.second p{
    font-size: 1vw;
}
.second p:hover{
    cursor: default;
}




.smallcircle{
    position: absolute;
    top: 50%;
    right: -0.5vw; 
    transform: translate(0, -50%); 
    width: 1vw; 
    height: 1vw;
    border-radius: 50%;
    background-color:rgb(91, 89, 89);
    }

#panel{
    position: absolute;
    right: 3%; top: 50%; transform: translate(0, -50%); 
    height: 20%;
    width: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.minicircle{
    width: 1vw;
    height: 1vw;
    border-radius: 50%;
    background-color: rgb(91, 89, 89);
    opacity: 0.2;
}

.second{
    opacity:0.1;
    color: white;

}

.square{
    background-color: black;
    width: 70vh;
    height: 50vh;
    top: 25%;
    position: absolute;
    font-size: 6vw;
    color: white;
    opacity: 0.2;
    left: 10px;
}